.main__chat
 .__group.info
  .__left
   .__box
    test
   .__box2
    Member : masa
  .edit_btn
   Edit

 .mainlist
  .messages
   .upper_info
    .upper
     masa
    .upper2
     2019/11/20/(Wed) 17:43:01
   .text_info
    .upper3
     おはよう！
  .messages2
   .upper_info2
    .upper4
     masa
    .upper5
     2019/11/20/(Wed) 17:43:34
   .text_info2
    .upper6
     今日は夜から雨

 .mainform
  .textform
   %input{type:"text", placeholder:"type a message"}
    
    %label{class: "input-box__image"}
     = icon('fas', 'image')
     %input{type: "file"}
   
   .input_botton
    Send