.sidebar
  .username
    .side-header_box
      %p.side-header_box_user-name
        masa
      %ul.side_header_box_menu
        %li.side-header_edit
          =link_to "#" do
            =icon('fas','edit')           
        %li.side-header_group
          =link_to "#" do
            =icon('fas','cog')
  .group
    .group_list
      .group_name1
        techcamp
      .group_name2
        まだメッセージがありません